{% extends "master.html" %}
{% block content %}
    <!-- Forms Start -->
    <div class="container" style="max-width:70%;">
        <div class='row mt-5'>
            <h3>Order Application</h3>
        </div>
        <div class="row">
            <form action="#" method="post">
                {% csrf_token %}

                {% for form in forms %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{ form.name }}</label>
                        <div class="form-control">{{ form }}</div>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                {% endfor %}
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Forms end -->
{% endblock %}