{% extends "master.html" %}
{%block content %}
<!-- Forms Start -->
<div class="container" style="max-width:70%;">
    <div class='row mt-5'>
        <h3>Order Application</h3>
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Address</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Product</label>
                <select class="form-control">
                    <option class="form-control">Apple</option>
                    <option>Orange</option>
                    <option>Banana</option>
                    <option>Grapes</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- Forms end -->
{%endblock%}